
{erl_opts, [
	{platform_define, "(linux|win32)", 'HAVE_NETWATCH_DRV'}
]}.

{port_specs, [
	{"linux", "priv/netwatch_drv.so", ["c_src/netwatch_linux.c"]},
	{"win32", "priv/netwatch_drv.dll", ["c_src/netwatch_win32.c"]}
]}.

{port_env, [
	{"linux", "DRV_LDFLAGS", "$DRV_LDFLAGS -lnl"},
	{"DRV_CFLAGS", "/TC /Zi /W3 /O2 /Oi /Oy- /GL /D WIN32 /D NDEBUG /D _WINDOWS /D _USRDLL /D _WINDLL /D UNICODE /D _UNICODE /EHsc /MD /GS /Gy /Fdc_src\\ $ERL_CFLAGS "},
	{"DRV_LDFLAGS", "/DLL /INCREMENTAL:NO /OPT:REF /OPT:ICF /DEBUG /PDB:priv\\netwatch_drv.pdb /SUBSYSTEM:WINDOWS /LTCG /DYNAMICBASE /NXCOMPAT /LIBPATH:$ERL_EI_LIBDIR ei_md.lib erl_interface_md.lib kernel32.lib user32.lib"}
]}.

