%% Debugging PeerDrive configuration.
%%
%% This configuration file is parsed if PeerDrive is run from the source
%% directory. When run as user (preferred) the config is read from
%% "~/.peerdrive/peerdrive.config". If PeerDrive runs as system daemon then the
%% configuration will typically reside in "/etc/peerdrive/peerdrive.config".
[
	{peerdrive, [
		% There is one system store for every PeerDrive instance. This store is
		% started first and holds all settings and other critical data. The
		% entry specifying the system store consists of a tuple with three
		% fields:
		%
		%   Source  -- Location where the store holds its data
		%   Options -- Ditto
		%   Type    -- Store type
		%
		{sys_store, {"stores/sys", "", "file"}},

		{interfaces, [
			% The 'native' interface is used by PeerDrive aware applications
			% to use the full feature set. The following options are supported:
			%
			%    {port, Port}       -- TCP listening port (default: 0 (dynamic port))
			%    {ip, "x.x.x.x"}    -- Bind to a specific network interface (default: localhost)
			%    nopublish          -- Don't create server.info (e.g. for debugging)
			{native, [{port, 4567}, nopublish]},

			% The 'vfs' interface provides access to the stores through a FUSE
			% (Unix) or Dokan (Windows) mountpoint. The following options are
			% supported:
			%
			%    {mountpoint, "path"} -- Absolute or realtive path to the mount
			%                            point. The directory must exist.
			%                            Default: Unix: "/media/peerdrive"
			%                                     Windows: "P:\\"
			%
			%    {ephemeral, ["regex"]} -- List of regular expressions for file
			%                              names that should be ephemeral.
			%
			% The following options are supported only by FUSE and are ignored
			% on Windows:
			%
			%    default_permissions  -- see FUSE documentation
			%    allow_other          -- see FUSE documentation
			%    {max_read, Size}     -- Limit maximum read size to `Size' bytes
			%    {user_id, UId}       -- The numeric user id of the mount owner
			%    {group_id, GId}      -- The numeric group id of the mount owner
			%    {uid, UId}           -- The numeric user id of the files owner
			%    {gid, GId}           -- The numeric group id of the files owner
			%    {umask, UMask}       -- The umask applied to all access permissions
			%
			% The following options are specific to Dokan on Windows:
			%
			%    {threads, Num}       -- Number of Dokan threads
			%    {debug_output, Type} -- Control Dokan debug output. Possible values:
			%                              false  -- Disable debug output (default)
			%                              true   -- Send debug output to debugger
			%                              stderr -- Send debug output to stderr
			%    {drive_type, Type}   -- Set Dokan drive type
			%                              hdd       -- Fixed drive (default)
			%                              removable -- Removable drive
			%                              network   -- Network drive (needs Dokan network provider)
			{vfs, [{mountpoint, "vfs"}]}

			% The 'netstore' interface shares one or more stores through the
			% network. Other PeerDrive servers may mount these shares through
			% a net_store store (see `stores' section). The following options
			% are supported:
			%
			%    {port, Port}       -- TCP listening port (default: 4568, will change)
			%    {ip, "x.x.x.x"}    -- Bind to a specific network interface
			%    {stores, [Stores]} -- List of stores (their labels) which are shared
			%    {tls, TlsMode}     -- TLS SSL mode
			%
			% TlsMode might be one of the following choices:
			%
			%    deny                   -- No TLS (default)
			%    {optional, SslOptions} -- Use TLS if available
			%    {required, SslOptions} -- Always use TLS
			%
			% SslOptions is a list with options of the Erlang ssl application.
			% The following options are typically useful:
			%
			%   {cacertfile, "cacert.pem"}      -- Root certificate(s)
			%   {certfile, "my-cert.pem"}       -- Server certificate (required)
			%   {keyfile, "my-private-key.pem"} -- Server private key (required)
			%   {verify, verify_peer}           -- Verify client certificate
			%   {fail_if_no_peer_cert, true}    -- Ditto
			%
			%{netstore, [ {stores, ["usr"]} ]}
		]}
	]}
].
