%% Erlang compiler options
{erl_opts, [debug_info, warn_obsolete_guard, warnings_as_errors]}.

{sub_dirs, ["apps/peerdrive", "apps/netwatch", "rel"]}.
{plugins, [otp_app_install]}.

{deps, [
	{
		protobuffs,
		".*",
		{git, "https://github.com/basho/erlang_protobuffs.git", {tag, "0.8.0"}}
	},
	{
		jsx,
		".*",
		{git, "https://github.com/talentdeficit/jsx.git", {tag, "v1.3.3"}}
	}
]}.
