%% Erlang compiler options
{erl_opts, [debug_info, warn_obsolete_guard, warnings_as_errors]}.

{sub_dirs, ["apps/peerdrive", "apps/netwatch", "rel"]}.

{deps, [
	{
		protobuffs,
		".*",
		{git, "https://github.com/freke/erlang_protobuffs.git", {branch, "master"}}
	},
	{
		jsx,
		".*",
		{git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}
	}
]}.
