[
	{peerdrive, [
		{stores, [
			{
				sys,
				"System mountpoint",
				[system],
				peerdrive_file_store,
				{"test/stores/sys",  "System store"}
			},
			{
				usr,
				"Default user mount",
				[],
				peerdrive_file_store,
				{"test/stores/usr", "User store"}
			},
			{
				rem1,
				"Removable drive 1",
				[removable],
				peerdrive_file_store,
				{"test/stores/rem1", "Removable store 1"}
			},
			{
				rem2,
				"Removable drive 2",
				[removable],
				peerdrive_file_store,
				{"test/stores/rem2", "Removable store 2"}
			}
		]},
		{interfaces, [ ]}
	]}
].
