{sys, [
	{lib_dirs, ["../apps", "../deps"]},
	{rel, "hotchpotch", "0.1", [
		kernel,
		stdlib,
		sasl,
		hotchpotch
	]},
	{rel, "start_clean", "", [
		kernel,
		stdlib
	]},
	{boot_rel, "hotchpotch"},
	{profile, embedded},
	{excl_sys_filters, [
		"^bin/.*",
		"^erts.*/bin/(dialyzer|typer)"
	]},
	{app, sasl, [{incl_cond, include}]}
]}.

{target_dir, "hotchpotch"}.

{overlay, [
	{mkdir, "log/sasl"},
	{mkdir, "stores/sys"},
	{mkdir, "stores/user"},
	{copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
	{copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
	{copy, "files/hotchpotch", "bin/hotchpotch"},
	{copy, "files/hotchpotch.bat", "bin/hotchpotch.bat"},
	{copy, "files/start_clean.bat", "bin/start_clean.bat"},
	{copy, "files/app.config", "etc/app.config"},
	{copy, "files/vm.args", "etc/vm.args"},
	{copy, "files/register-service.bat", "bin/register-service.bat"},
	{copy, "files/remove-service.bat", "bin/remove-service.bat"}
]}.
